#PlaceViewerWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

#PlaceViewrHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
}

#PlaceViewrHeader img {
  width: 30px;
  height: 30px;
}

#PlaceContentWrapper {
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
}

#PlaceDetailsWrapper {
  justify-content: start;
  margin-left: 30px;
}

#PhotoWrapper img {
  max-width: 300px;
}

#CheckInBtn {
  width: 150px;
  margin-left: auto;
}

#AdminActions {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-items: left;
  margin-left: auto;
}

#SendAlertBtn {
  margin-right: auto;
}

#Map {
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: var(--contrast-text-color);
  text-align: center;
  border-radius: var(--border-radius-val);
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}

.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
