#OWrapper {
  width: 84vw;
  height: 100vh;
  padding: 10px;
}
h1 {
  color: black;
  margin-top: 10%;
  text-align: center;
}

#tipHead {
  color: black;
  margin-top: 25%;
}

#icon {
  width: 30px;
  margin: 10px;
  vertical-align: middle;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.leftBox {
  margin-left: 16vw;
  width: 59vw;
  left: 0;
  border-left: 1px solid #0bbbeb;
}

.rightBox {
  width: 25vw;
  right: 0;
  border-left: 1px solid #0bbbeb;
}

.logBox {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.logBox form fieldset {
  border: none;
  padding: 15px;
}
.logBox form fieldset input {
  font-size: 15px;
  width: 65%;
  margin: 10px 0;
  padding: 10px 5%;
  border: thin solid var(--primary-color);
}

.logBox form fieldset select {
  margin-left: 10px;
  padding: 10px;
  border: thin solid var(--primary-color);
}
.logBox input[type='submit'] {
  width: 50%;
  float: right;
  background-color: var(--primary-color);
  color: white;
}

#tipBox {
  margin: auto;
  width: 80%;
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 5px;
  vertical-align: middle;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
