#sideBar {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  width: 15vw;
}

#icon {
  width: 30px;
  margin: 10px;
  vertical-align: middle;
}

#userPicture {
  border-radius: 50%;
  width: 150px;
  margin: auto;
}

#userProfile {
  text-align: center;
  margin: 20px;
}

#NavOptions {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  height: 42vh;
  min-height: 300px;
  width: 100%;
}

.home_navlink {
  padding: 5px 20px;
  font-size: 1.3em;
  text-decoration: none;
}
.activeLink {
  background-color: var(--primary-color);
  color: var(--contrast-text-color);
  height: 35px;
  border-radius: 12px;
}

#logOut {
  font-size: 16px;
  margin-top: auto;
  height: 35px;
  background-color: var(--primary-color);
  color: var(--contrast-text-color);
  border-radius: 12px;
}
