#sideBar {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
}

#icon {
  width: 30px;
  margin: 10px;
  vertical-align: middle;
}

#userPicture {
  border-radius: 50%;
  width: 150px;
  margin: auto;
}

#userProfile {
  text-align: center;
  margin: 20px;
}

#NavOptions {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 42vh;
}

.home_navlink {
  font-size: 1.3em;
  text-decoration: none;
}

#logOut {
  font-size: 16px;
  margin-top: auto;
  height: 35px;
}
