#sideBar {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  min-width: 225px;
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
}

#icon {
  width: 30px;
  margin: 10px;
  padding: 0 10px;
  vertical-align: middle;
}

#userPicture {
  border-radius: 50%;
  width: 150px;
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
}

#userProfile {
  text-align: center;
  margin: 20px;
}

#NavOptions {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  height: 42vh;
  min-height: 300px;
  width: 100%;
}

.home_navlink {
  padding: 5px 23px;
  font-size: 1.3em;
  text-decoration: none;
}
.activeLink {
  background-color: var(--primary-color);
  color: var(--contrast-text-color);
  height: 35px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

#logOut {
  font-size: 16px;
  margin-top: auto;
  height: 35px;
  background-color: var(--accent-color);
  color: var(--contrast-text-color);
}
