#AddReminderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#AddReminderWindow {
  width: max-content;
}

#HealthCatList {
  width: 230px;
}

#SubHealthCatList {
  width: 230px;
}

#ReminderTitleInput {
  width: 230px;
}

#ReminderNotesInput {
  width: 300px;
  height: 125px;
}

#DateTimeInput {
  width: 250px;
  height: 30px;
}

.inputLabel {
  font-weight: bolder;
  font-size: 1.4em;
}

.charCount {
  margin-left: auto;
  color: var(--fadded-color);
}

.reminderInputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: max-content;
  margin: 15px 0;
}
