#LogManagementWrapper {
  height: 100vh;
  width: 84vw;
}
#managementHeader {
  color: black;
  margin-top: 10%;
  text-align: center;
  font-style: var(--title-font-family);
}

#icon {
  width: 30px;
  margin: 0 2px 5px 0;
  vertical-align: middle;
}
#profileHead {
  color: black;
  text-align: center;
  margin-top: 23%;
}
#profileInfoBox {
  margin: auto;
  width: 80%;
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
  border-radius: var(--border-radius-val);
  margin-top: 150px;
  padding: 5%;
  vertical-align: middle;
}

#manCloseButton {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: white;
  float: right;
  box-shadow: 0px 9px 9px -6px rgba(0, 0, 0, 0.75);
  text-align: center;
}

#xButton {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.LogManagementView {
  height: 100%;
  position: fixed;
}

.LogManagementView.left {
  left: 0;
  width: 84vw;
  margin-left: 215px;
}
.LogManagementView.right {
  right: 0;
  width: 25vw;
  border-left: 1px solid var(--primary-color);
}

.UMBox {
  margin: auto;
  margin-top: 150px;
  width: 80%;
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
}
.UMBox form fieldset {
  border: none;
  padding: 15px;
}
.tab {
  overflow: hidden;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 12px;
}
/* Tab.js*/
.tabButton#ManagementTab {
  width: 50%;
  font-size: 15px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  color: white;
  border-radius: 12px;
}

.tabButton#ManagementTab:hover {
  background-color: dodgerblue;
}

.tabButton.active#ManagementTab {
  background-color: white;
  color: black;
}

.userTitle {
  font-weight: bold;
}
#userListContainer {
  overflow-y: auto;
}

#userTitle {
  border-bottom: 1px solid black;
}
#userTag {
  border-radius: 12px;
  background-color: floralwhite;
}

#ManageButton {
  float: right;
}
