#TitleHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

#TitleHeader H1 {
    font-size: 3em; 
}

#LoginFrom {
    margin-left: auto;
    height: 100%;
    padding: 20px 40px;
}

.text-input {
    height: 20px;
    margin: 10px;
    border-radius: 12px;
}
