.primary {
  color: #61dafb;
}

.secondary {
  color: #203b71;
}

.acent {
  color: pink; 
}

.invalidInput {
  border: 2px solid #d2082d;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
