#CalendarWrapper {
  height: 100vh;
  width: 82vw;
  padding: 10px;
}

#calendarContainer {
  display: flex;
  text-align: center;
}

#tabs {
  width: 250px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

#header {
  width: 250px;
  height: 50px;
  border: #000000 1px solid;
}

#dates {
  width: 250px;
  height: 175px;
  border: #000000 1px solid;
}

#month {
  text-align: center;
}

#appointmentContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#appointmentBox {
  background: #91ceff;
  margin: 0;
  border: #000000 1px solid;
}
