#PageWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 82vw;
  padding: 10px;
}

#LeftWrapper {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  height: 100%;
  width: 50%;
}

#RightWrapper {
  height: 100%;
}

#CheckInWrapper {
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-evenly;
}

#List {
  display: flex;
  width: 90% !important;
  height: 30px;
  align-self: center;
  margin: 20px auto;
}
