#PageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 82vw;
  padding: 10px;
}

#CheckInWrapper {
  max-width: 800px;
}

#CheckOutWrapper {
  width: 850px;
}

hr {
  margin: 50px;
}
