#LocationSelectorWrapper {
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-evenly;
}

#SelectWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#LocList {
  display: flex;
  width: 300px !important;
  height: 30px;
  align-self: center;
  margin: 20px 40px;
}

#ActionBtn {
  margin-left: auto;
  width: 160px;
}
