#cardWrapper {
  width: 300px;
  height: 300px;
  border: #000000 2px solid;
  text-align: center;
  border-radius: var(--border-radius-val);
}

#cardIcon {
  width: 150px;
}

#cardValue {
  font-weight: bold;
  font-size: 18px;
}
