#ListInput {
  margin: auto;
  width: 100%;
}

#ListInput:hover {
  border-color: var(--primary-color);
  border: 3px solid var(--primary-color);
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
}

#ListInput:focus {
  outline: none;
  border-color: var(--primary-color);
  border: 3px solid var(--primary-color);
}

.option {
  font-weight: bold;
  font-size: large;
}
select > option {
  background: pink;
}
