#LogWeightWrapper {
  height: 100vh;
  width: 84vw;
  padding: 10px;
}
#weightHeader {
  color: black;
  margin-top: 10%;
  text-align: center;
  font-style: var(--title-font-family);
}

#units {
  font-size: 15px;
}
#icon {
  width: 30px;
  margin: 0 2px 5px 0;
  vertical-align: middle;
}

#closeButton {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #0bbbeb;
  background-color: white;
  float: right;
  box-shadow: 0px 9px 9px -6px rgba(0, 0, 0, 0.75);
  margin-right: 3%;
}

.view {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  width: 15%;
  border-left: 1px solid skyblue;
  margin-left: 16vw;
}

.tab {
  overflow: hidden;
  border: 1px solid #0bbbeb;
  background-color: #0bbbeb;
  border-radius: 12px;
}

.tab button {
  font-size: 15px;
  width: 50%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  color: white;
}

.tab button:hover {
  background-color: dodgerblue;
}
.tab button.active {
  background-color: white;
  color: black;
}

.tabContent #Standard {
  display: none;
}

.logbox {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
}
.logbox form fieldset {
  border: none;
  padding: 15px;
}

.logbox form fieldset input {
  font-size: 15px;
  width: 60%;
  margin-bottom: 5px;
  padding: 10px 5%;
  border: thin solid #0bbbeb;
}

.logbox form fieldset select {
  font-size: 15px;
  width: 15%;
  height: 30px;
  border: thin solid #0bbbeb;
}

.logbox input[type='submit'] {
  width: 50%;
  float: right;
  background-color: #0bbbeb;
  color: white;
  font-style: var(--btn-font-family);
  border-radius: 12px;
}

/*Tip Box css*/
.right {
  right: 0;
  width: 25vw;
  border-left: 1px solid skyblue;
}

#tipHead {
  color: black;
  text-align: center;
  margin-top: 23%;
}

#tipBox {
  margin: auto;
  width: 80%;
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  padding: 5px;
  vertical-align: middle;
}
