:root {
  --primary-color: #0bbbeb;
  --secondary-color: #203b71;
  --accent-color: pink;
  --error-color: red;
  --contrast-text-color: white;
  --border-radius-val: 12px;
  --title-font-family: arial;
  --sub-title-font-family: arial;
  --btn-font-family: arial;
  --text-font-family: arial;
}

.primary-btn {
  padding: 10px;
  background: var(--primary-color);
  color: var(--contrast-text-color);
  text-align: center;
  border-radius: var(--border-radius-val);
  font: 800 1em var(--btn-font-family), sans-serif;
}

.primary-btn:focus {
  outline: none;
}

.invalidInput {
  border: 2px solid var(--error-color);
}

.windowWrapper {
  padding: 30px;
  box-shadow: 0px 9px 22px -6px rgba(0, 0, 0, 0.75);
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
