#SignUpForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 30px !important;
  height: fit-content !important;
  width: 290px;
}

.signupInputSpace {
  margin: 10px !important;
}
