#HomeWrapper {
  display: flex;
  margin: 0;
  height: 100vh;
}

#NavBarWrapper {
  width: 15vw;
  height: 100vh;
  border-right: 1px solid var(--primary-color);
}

#HomeContentWrapper {
  margin: 0;
  width: 84vw;
  height: 100vh;
}
