#HomeWrapper {
  margin: 0;
}

#NavBarWrapper {
  opacity: 1;
  min-width: 215px;
  height: 100%;
  border-right: 1px solid var(--primary-color);
  position: fixed;
  z-index: 99;
}

#HomeContentWrapper {
  margin: 0;
  width: 84vw;
  position: absolute;
  left: 215px;
  z-index: 1;
}
