#HomeWrapper {
  margin: 0;
}

#NavBarWrapper {
  opacity: 1;
  min-width: 225px;
  height: 100%;
  position: fixed;
  z-index: 99;
}

#HomeContentWrapper {
  margin: 0;
  width: calc(100% - 225px);
  position: absolute;
  left: 225px;
  z-index: 1;
}

#NotificationWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 225px);
  height: max-content;
}
